.ListOfGifts_nodata {
  color: #ffffff;
}

.ListOfGifts .Gif {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .ListOfGifts {
    column-count: 2;
  }
}

@media screen and (min-width: 768px) {
  .ListOfGifts {
    column-count: 3;
  }
}
